body{
    display: flex;
    flex-direction: column;
}
#header{
    position: fixed;
    min-width: 100vw;
    top: 0;
    left: 0;
}
main{
    margin-top: 4rem;
}
#login{
    min-height: calc(100vh - 4rem);
}
#card-items{
    width: 16rem;
    height: 20rem;

}
#card-image{
    width: 15rem;
    height: 10rem;
    margin-top: .5rem;
}

.card-image{
    display: flex;
    justify-content: center;
}
.toast-danger, .toast-success{

}
body{
    background-image: url("../images/pngegg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg_black{
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
}
.about-page{
    min-height: calc(100vh - 4rem);
}
